{% extends 'similar_movies/base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'similar_movies/css/movie-cards.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'similar_movies/css/movie.css' %}">
{% endblock css %}
{% block content %}
{% if status %}
<section id="movie-description" class="mt-5">
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card__media">
						<img src="{{data.movie_image}}" class="responsive-img movie-card-image">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8">
				<h1 class="font-weight-500">{{data.title}}</h1>
				<h3>{{data.year}}</h3>
				<h3 class="mt-3">{{data.genres|join:' / '}}</h3>
				<div class="mt-3">
					<div class="mb-2">
						<a href="https://www.imdb.com/title/{{data.imdb_code}}" title="IMDB Rating" target="_blank">
						<img class='icon' src="{% static 'similar_movies/image/imdb.svg' %}">
						</a>
						<span class="p-2 icon-text font-weight-700">{{data.rating}}</span>
					</div>
					<div class="mb-2">
						<img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQn6OcLWNKQOrMOgk9DEAPWfLl_PqSLUPyat6hPoUiHWyVOVwLO&usqp=CAU" title="Runtime">
						<span class="p-2 icon-text font-weight-700">{{data.runtime_hours}}Hrs {{data.runtime_minutes}}Min</span>
					</div>
					<div class="mb-2">
						{% if data.mpa_rating == 'PG' %}
						<img class="icon" src="{% static 'similar_movies/image/rated_pg.png'%}">
						{% elif data.mpa_rating == 'G' %}
						<img class="icon" src="{% static 'similar_movies/image/rated_g.png'%}">
						{% elif data.mpa_rating == 'NC-17' %}
						<img class="icon" src="{% static 'similar_movies/image/rated_nc_17.png'%}">
						{% elif data.mpa_rating == 'PG-13' %}
						<img class="icon" src="{% static 'similar_movies/image/rated_pg_13.png'%}">
						{% elif data.mpa_rating == 'R' %}
						<img class="icon" src="{% static 'similar_movies/image/rated_r.png'%}">
						{% elif data.mpa_rating == 'NR' %}
						<img class="icon" src="{% static 'similar_movies/image/rated_nr.png'%}">
						{% else %}
						<img class="icon" src="{% static 'similar_movies/image/rated_ur.png'%}">
						{% endif %}
					</div>
				</div>
				{% if data.torrents %}
				<div class="mt-3 mb-3">
					<span class="pull-left font-weight-700">Available in: &nbsp;</em>
					{% for torrent in data.torrents %}
					<a href="{{torrent.url}}" rel="nofollow" title="Download {{data.title}} {{torrent.quality}} {{torrent.type}}" class="torrent-link ml-2 pl-3 pr-3">
					<span class="font-weight-500">
					{{torrent.quality}}&nbsp;{{torrent.type|title}}
					</span>
					</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<section id="movie-description" class="ftco-section ftco-no-pt ftc-no-pb">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
				<div class="ftco-animate mt-5 fadeInUp ftco-animated">
					<h2>Plot</h2>
					<p>
						{% if data.description_full %}
						{{ data.description_full }}
						{% else %}
						{{ data.description_intro }}
						{% endif %}
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<div class="ftco-animate mt-5 fadeInUp ftco-animated">
					<h2>Cast</h2>
					<div class="cast">
						{% for cast in data.cast %}
						<div class="mb-3">
							<img class="img-fluid img-circle" src="{{ cast.url_small_image}}">
							<span><a href="https://www.imdb.com/name/nm{{cast.imdb_code}}" target="_blank">{{cast.name}}</a></span>
							<span>{{cast.character_name}}</span>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="similar-movies-section" class="ftco-section ftco-no-pt ftc-no-pb"  data-url="{% url 'movie' 'id' 'imdb_id' %}">
	<div class="container">
		<div class="row">
		</div>
	</div>
</section>
{% endif %}
{% endblock content %}
{% block javascript %}
{{	block.super }}
<script src="{% static 'similar_movies/js/movie.js' %}"></script>
{% endblock javascript %}