{% extends 'similar_movies/base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'similar_movies/css/movie-cards.css' %}">
{% endblock css %}
{% block content %}
<section id="movie-description">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card__media">
						<img src="{{data.movie_poster}}" class="responsive-img movie-card-image">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<h3 >{{data.movie_name}}</h3>
				<h6>{{data.release_date}}</h6>
			</div>
		</div>
	</div>
</section>
<section id="movie-similar">
</section>
{% endblock content %}
{% block javascript %}
{{	block.super }}
{% endblock javascript %}