{% load static %}
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'movie-home' %}">
              <img src="{% static 'similar_movies/image/logo.png' %}" class="logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>

          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="{% url 'movie-home' %}" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="{% url 'browse-movie' %}" class="nav-link">Browse Movies</a></li>
              <li class="nav-item"><a href="domain.html" class="nav-link">Recommendation</a></li>
               <li class="nav-item"><a href="contact.html" class="nav-link"><span>Register</span></a></li>             
              <li class="nav-item"><a href="contact.html" class="nav-link"><span>Login</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- END nav -->