asgiref==3.2.7
beautifulsoup4==4.9.1
certifi==2020.4.5.2
chardet==3.0.4
Django==3.0.7
html5lib==1.0.1
idna==2.9
IMDbPY==6.8
joblib==0.15.1
lxml==4.5.1
numpy==1.18.5
pandas==1.0.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.3.1
threadpoolctl==2.1.0
tmdbsimple==2.2.17
urllib3==1.25.9
webencodings==0.5.1
