asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.12
django-heroku==0.3.1
gunicorn==20.0.4
idna==2.10
joblib==0.16.0
numpy==1.19.0
pandas==1.0.5
pip-autoremove==0.9.1
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
threadpoolctl==2.1.0
tmdbsimple==2.5.2
urllib3==1.25.9
whitenoise==5.1.0
