{% extends 'movies/base.html' %}
{% load static %}
{% block title %} MovieSpot | Home {% endblock title%}
{% block css %}
  {{block.super}}
{% endblock css %}
{% block content %}

<section>
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
      	<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
	      	<img class="img-fluid mt-5" src="{% static 'movies/image/entertainment.jpg' %}" alt="" id="front-page-image">
	        <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
	        	<div class="text mt-5" id="front-page-text">
	            <h1 class="mb-3"><span>Welcome to</span> <span>MovieSpot</span></h1>
	            <p>Start living at the Center of Entertainment 'cause Entertainment is whats needed.</p>
	            <p><a href="{url 'browse-movie' }" class="btn btn-primary px-4 py-3">Search Your Movie</a></p>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>
</section>
<section id="search-section" class="section">
    	<div class="container">
    		<div class="row d-flex align-items-center">
    			<div class="col-lg-5 heading-white mb-4 mb-sm-4 mb-lg-0 ftco-animate">
    				<h2>Search Your Movie Here</h2>
    			</div>
    			<div class="col-lg-7 col-sm-12 col-md-12 p-5 ftco-wrap ftco-animate">
    				<form action="" class="domain-form d-flex mb-3" method="POST" id="search-form" data-url="{% url 'search-movie' %}">
              {% csrf_token %}
              <div class="form-group domain-name">
                <input id="movie-name" type="text" class="form-control name px-4" placeholder="Enter your movie name..." required>
              </div>
              <div class="form-group domain-select d-flex">
                <input type="submit" class="search-domain btn btn-primary text-center" value="Search">
	            </div>
            </form>
    			</div>
    		</div>
    	</div>
    </section>

    <section id="movie-search-result-section">
      <div class="container" id="movie-search-result-container">
        
      </div>
    </section>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'movies/js/index.js' %}"></script>
{% endblock javascript%}