{% extends 'movies/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- start movie info  -->
<div class="movie-info border-b border-gray-800">
  <div class="container mx-auto px-4 py-16 flex flex-col md:flex-row">
    <img
      src="{{ movie.poster_path }}"
      alt=" {{ movie.title }}"
      class="w-64 md:w-96"
    />
    <div class="md:ml-24">
      <h2 class="text-3xl font-semibold">{{ movie.title }}</h2>
      <div class="flex flex-wrap items-center text-gray-400 text-sm">
        <svg class="fill-current text-orange-500 w-4" viewBox="0 0 24 24">
          <g data-name="Layer 2">
            <path
              d="M17.56 21a1 1 0 01-.46-.11L12 18.22l-5.1 2.67a1 1 0 01-1.45-1.06l1-5.63-4.12-4a1 1 0 01-.25-1 1 1 0 01.81-.68l5.7-.83 2.51-5.13a1 1 0 011.8 0l2.54 5.12 5.7.83a1 1 0 01.81.68 1 1 0 01-.25 1l-4.12 4 1 5.63a1 1 0 01-.4 1 1 1 0 01-.62.18z"
              data-name="star"
            />
          </g>
        </svg>
        <span class="ml-1">{{ movie.rating }}</span>
        <span class="mx-2">|</span>
        <span>{{ movie.year }}</span>
        <span class="mx-2">|</span>
        <span>{{ movie.genres }}</span>
      </div>
      <div class="mt-12">
        <div
          class="flex flex-wrap justify-between items-center text-orange-400 font-semibold text-sm"
        >
          <div>
            Downloaded:
            <span class="text-gray-400 ml-2"
              >{{ movie.download_count|intcomma }} times</span
            >
          </div>
          <div>
            Runtime: <span class="text-gray-400 ml-2">{{ movie.runtime_hours }} Hr {{movie.runtime_minutes}} Min</span>
          </div>
          <div>
            Language:
            <span class="text-gray-400 ml-2">{{ movie.language }}</span>
          </div>
          <div>
            MPA:
            <span class="text-gray-400 ml-2">{{ movie.mpa_rating }}</span>
          </div>
        </div>
      </div>
      <p class="text-gray-300 mt-8">
        {% if movie.description_intro %}
            {{movie.description_intro}}
        {% elif movie.summary %}
            {{movie.summary}}
        {% else %}
            {{movie.description_full}}
        {% endif %}
      </p>
      <div class="flex flex-wrap items-center mt-6">
      {% for torrent in movie.torrents %}
        <a href="{{torrent.url}}" target="_blank" rel="nofollow"
        class="flex inline-flex items-center bg-orange-500 text-gray-900 rounded font-semibold px-2 py-1
        hover:bg-orange-600 transition ease-in-out duration-150 mr-2 mt-2"
		title="Download {{ movie.title }} {{ torrent.quality }} {{ torrent.type }}">
            <span class="text-sm">{{ torrent.quality }}&nbsp;{{ torrent.type|title }}</span>
        </a>
      {% endfor %}
      </div>
      <!-- <div class="mt-12">
                <button href="#" target="_blank" class="flex inline-flex items-center bg-orange-500 text-gray-900 rounded
                    font-semibold px-4 py-3 hover:bg-orange-600 transition ease-in-out duration-150">
                    <svg class="w-6 fill-current" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                    </svg>
                    <span class="ml-2">MovieSpot Alpha</span>
                </button>

            </div> -->
    </div>
  </div>
  <!-- end movie info  -->

  {% endblock content %}
</div>
