{% load static %}
<nav class="border-b border-gray-800">
  <div class="container 
        mx-auto flex flex-col md:flex-row items-center justify-between px-4 py-6">
    <ul class="flex flex-col md:flex-row items-center">
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="{% url 'home' %}">

<img class="w-32" viewBox="0 0 96 24"
               src="{% static 'movies/image/logo-Copy.png' %}"/>
        </a>
      </li>
      <li class="md:ml-16 mt-3 md:mt-0">
        <a href="{% url 'popular-downloads' %}" class="hover:text-gray-600">Popular</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="{% url 'latest-downloads' %}" class="hover:text-gray-600">Latest</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="{% url 'movie-recommendation' %}" class="hover:text-gray-600">Recommendation</a>
      </li>
    </ul>
    <div class="flex flex-col md:flex-row items-center">
      {% include 'movies/search-dropdown.html' %}
    </div>
  </div>
</nav>
<!-- END nav -->