<div class="relative mt-3 md:mt-3 md:ml-3" id="search-app">
    <input
        v-model="query"
        type="text"
        class="bg-gray-800 text-sm rounded-full w-64 px-4 pl-8 py-1 focus:outline-none focus:shadow-outline"
        placeholder="Search"
        @blur = "searchResultsVisible = false"
        @focus = "searchResultsVisible = true"
        @keydown.esc = "searchResultsVisible = false"
        @input = "softReset"
        v-on:keyup="keyMonitor"
        ref="search"
        @keydown = "performSearch">
    <div class="absolute top-0">
        <svg class="fill-current w-4 text-gray-500 mt-2 ml-2" viewBox="0 0 24 24">
            <path class="heroicon-ui"
                d="M16.32 14.9l5.39 5.4a1 1 0 01-1.42 1.4l-5.38-5.38a8 8 0 111.41-1.41zM10 16a6 6 0 100-12 6 6 0 000 12z" />
        </svg>
    </div>

    <div class="spinner top-0 right-0 mt-3 mr-4"></div>
    <div
    v-if = "query.length > 0 && searchResultsVisible" 
    class="z-50 absolute bg-gray-800 text-sm rounded w-64 mt-3" v-cloak>
                <ul>
                        <li class="border-b border-gray-700"
                        v-for="(movie, index) in movies" :key="index">
                            <a
                                :href = "urlPrepare(movie.id, movie.imdb_code)"
                                @mousedown.prevent = "searchResultsVisible = true"
                                class="block hover:bg-gray-700 px-3 py-3 flex items-center">
                                <img :src="movie.small_cover_image"
                         alt="" class="w-4">
                                <span class="ml-4">[[ movie.title ]]</span>
                            </a>
                        </li>
                        
                        <li class="border-b border-gray-700"
                        v-if="movies.length === 0 && searchResultsVisible">
                        <span class="block hover:bg-gray-700 px-3 py-3 flex items-center"> No results for [[ query ]]</span>
                        </li>
                </ul>
    </div>

</div>