*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
}

#nav-bar{
	position: sticky;
	top: 0;
	z-index:10;
}

.navbar{
	background-image: linear-gradient(to right, #11998e, #38ef7d);
	padding: 0 !important;
}

#logo{
	width:35%;
	height: auto;
}