@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#logo{
    width: 10vw;
    height: auto;
}
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
    #logo{
    width: 10vw;
    height: auto;
}

}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    #logo{
    width: 20vw;
    height: auto;
    margin-left: 0;
}
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
    text-align:center;
    font-size: 4rem;
}
.myP {
    text-align: justify;
    padding-left:15%;
    padding-right:15%;
    font-size: 20px;
}
@media all and (max-width:700px){
    .myP {
        padding:2%;
    }
}

.movie_list {
margin-top: 5rem;
padding-left: 4rem !important;
}
.card-view {
background: #ffffff;
box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 315px;
margin: 2em;
border-radius: 10px;
display: inline-block;
}
.card-header {
padding: 0;
margin: 0;
height: 367px;
width: 100%;
display: block;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.avengerEndgame {
background: url("img/avengers.jpg");
background-size: cover;
}
.hobbsShaw {
background: url("img/hobbs-and-shaw.jpg");
background-size: cover;
}
.Johnwick {
background: url("img/john-wick-3.jpg");
background-size: cover;
background-position: 100% 100%;
}
.deadPool {
background: url("img/deadpool-2.jpg");
background-size: cover;
}
.theLionking {
background: url("img/lion_king.jpg");
background-size: cover;
}
.madMax {
background: url("img/mad_max.jpg");
background-size: cover;
}
.aquaMan {
background: url("img/aqua_man.jpg");
background-size: cover;
}
.missionImpossible {
background: url("img/mission_Impossible.jpg");
background-size: cover;
}
.card-header-icon {
position: relative;
}
.header-icon {
width: 100%;
height: 367px;
line-height: 367px;
text-align: center;
vertical-align: middle;
margin: 0 auto;
color: #ffffff;
font-size: 54px;
text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
opacity: .85;
}
.header-icon:hover {
background: rgba(0, 0, 0, 0.15);
font-size: 74px;
text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
opacity: 1;
}
.card-view:hover {
-webkit-transform: scale(1.03);
transform: scale(1.03);
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}
.card-movie-content {
padding: 18px 18px 24px 18px;
margin: 0;
}
.card-movie-content-head,
.card-movie-info {
display: table;
width: 100%;
}
.card-movie-title {
font-size: 22px;
margin: 0;
display: table-cell;
}
.ratings {
width: 50px;
height: 15px;
background-size: contain;
display: table-cell;
text-align: right;
position: relative;
margin-top: 5px;
font-weight: 600;
}
.ratings span {
color: #2196F3;
}
.card-movie-info {
margin-top: 1em;
}
.movie-running-time {
display: table-cell;
text-transform: uppercase;
text-align: center;
}
.movie-running-time:first-of-type {
text-align: left;
}
.movie-running-time:last-of-type {
text-align: right;
}
.movie-running-time label {
display: block;
color: rgba(0, 0, 0, 0.5);
margin-bottom: .5em;
font-size: 9px;
}
.movie-running-time span {
font-weight: 700;
font-size: 11px;
}
@media Running time and (max-width: 500px) {
.card-view {
width: 95%;
max-width: 95%;
margin: 1em;
display: block;
}
.container {
padding: 0;
margin: 0;
}
}